<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title | default: config.title}}</title>
    <link rel="stylesheet" href="/static/stylesheet.css">

</head>
<body>
    <header id="site-info">
        <a aria-label="Home" href="/">
            <h1>{{ config.title }}{% if posttitle %}<br>{{posttitle}}{% endif %}</h1>
        </a>
        <p>{{ config.description }}</p>
    </header>
    <main id="content">
        {{ content }}
    </main>
    <footer>
    </footer>
</body>
</html>