html {
    font-size: 18px;
    background-color: #181818;
    color: white;
}

a {
    outline-offset: 0.45em;
    text-underline-offset: 0.35em;
}

a:link, a:visited {
    color: white;
}

a:visited {
    text-decoration-color: #a8a8a8;
}

a:hover {
    color: #5e5e5e;
}

a:active {
    color: #59f1ff;
}

/* Based on https://webaim.org/techniques/css/invisiblecontent/ & https://www.w3schools.com/accessibility/accessibility_skip_links.php */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.pronouns, .age {
    font-size: 0.9em;
}

#obituaries {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
}

#obituaries-title {
    margin-top: 1.5em;
    margin-bottom: 1.25em;
}

#obituaries .obituary {
    margin-bottom: 2.5em;
}

#obituaries .obituary a {
    display: block;
}

#obituaries h3 {
    margin: 0;
    padding: 0;
}

#site-about {
    margin: 1.2em;
}


#obituary header, #obituary .intro {
    text-align: center;
}

.image {
    width: 200px
}

#obituary h2 {
    margin-bottom: 0;
}